.logout button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .container {
    padding: 20px;
  }
  
  .eventSection {
    display: flex;
    justify-content: space-between;
  }
  
  .eventList {
    flex: 1;
    margin-right: 20px;
  }
  
  .createEventBtn {
    display: block;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .createEventBtn:hover {
    background-color: #0056b3;
  }